################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APP---Dating-App1/FileContentIndex/44a9f4d3-2bad-4d58-827c-7d2f98409408.vsidx
/.vs/APP---Dating-App1/FileContentIndex/b8d73e1f-7494-4e98-9338-72bdfd3fda00.vsidx
/.vs/APP---Dating-App
/.vs/slnx.sqlite
*.suo
/.vs/APP---Dating-App/v17/.wsuo
/Database/.vs/APApiDbS2024InClass/v17/.suo
/Database/.vs/APApiDbS2024InClass/v17/.wsuo
*.v2
*.vsidx
*.bin
/Database/DatingApp/bin/Debug/net7.0/APApiDbS2024InClass.dll
/Database/DatingApp/bin/Debug/net7.0/APApiDbS2024InClass.exe
/Database/DatingApp/bin/Debug/net7.0/APApiDbS2024InClass.pdb
/Database/DatingApp/obj/Debug/net7.0/ref/APApiDbS2024InClass.dll
/Database/DatingApp/obj/Debug/net7.0/refint/APApiDbS2024InClass.dll
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.AssemblyInfo.cs
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.AssemblyInfoInputs.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.assets.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.csproj.CoreCompileInputs.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.dll
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.GeneratedMSBuildEditorConfig.editorconfig
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.genruntimeconfig.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.pdb
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.sourcelink.json
/Database/DatingApp/obj/Debug/net7.0/apphost.exe
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.AssemblyInfo.cs
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.AssemblyInfoInputs.cache
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.assets.cache
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.GeneratedMSBuildEditorConfig.editorconfig
/.vs/VSWorkspaceState.json
*.json
/Database/DatingApp/obj/APApiDbS2024InClass.csproj.nuget.dgspec.json
/Database/DatingApp/obj/project.nuget.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.AssemblyInfo.cs
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.csproj.CopyComplete
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.AssemblyInfoInputs.cache
