################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/APP---Dating-App1/FileContentIndex/44a9f4d3-2bad-4d58-827c-7d2f98409408.vsidx
/.vs/APP---Dating-App1/FileContentIndex/b8d73e1f-7494-4e98-9338-72bdfd3fda00.vsidx
/.vs/APP---Dating-App
/.vs/slnx.sqlite
*.suo
/.vs/APP---Dating-App/v17/.wsuo
/Database/.vs/APApiDbS2024InClass/v17/.suo
/Database/.vs/APApiDbS2024InClass/v17/.wsuo
*.v2
*.vsidx
*.bin
/Database/DatingApp/bin/Debug/net7.0/APApiDbS2024InClass.dll
/Database/DatingApp/bin/Debug/net7.0/APApiDbS2024InClass.exe
/Database/DatingApp/bin/Debug/net7.0/APApiDbS2024InClass.pdb
/Database/DatingApp/obj/Debug/net7.0/ref/APApiDbS2024InClass.dll
/Database/DatingApp/obj/Debug/net7.0/refint/APApiDbS2024InClass.dll
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.AssemblyInfo.cs
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.AssemblyInfoInputs.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.assets.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.csproj.CoreCompileInputs.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.dll
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.GeneratedMSBuildEditorConfig.editorconfig
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.genruntimeconfig.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.pdb
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.sourcelink.json
/Database/DatingApp/obj/Debug/net7.0/apphost.exe
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.AssemblyInfo.cs
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.AssemblyInfoInputs.cache
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.assets.cache
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.GeneratedMSBuildEditorConfig.editorconfig
/.vs/VSWorkspaceState.json
*.json
/Database/DatingApp/obj/APApiDbS2024InClass.csproj.nuget.dgspec.json
/Database/DatingApp/obj/project.nuget.cache
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.AssemblyInfo.cs
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.csproj.CopyComplete
/Database/DatingApp/obj/Debug/net7.0/APApiDbS2024InClass.AssemblyInfoInputs.cache
/Database/DatingApp/bin/Release/net7.0/APApiDbS2024InClass.dll
/Database/DatingApp/bin/Release/net7.0/APApiDbS2024InClass.pdb
/Database/DatingApp/bin/Release/net7.0/Microsoft.AspNetCore.OpenApi.dll
/Database/DatingApp/bin/Release/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Database/DatingApp/bin/Release/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/Database/DatingApp/bin/Release/net7.0/Microsoft.OpenApi.dll
/Database/DatingApp/bin/Release/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/Database/DatingApp/bin/Release/net7.0/Npgsql.dll
/Database/DatingApp/bin/Release/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/Database/DatingApp/bin/Release/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Database/DatingApp/bin/Release/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Database/APApiDbS2024InClassTests/APApiDbS2024InClassTests.csproj
/Database/APApiDbS2024InClassTests/obj/APApiDbS2024InClassTests.csproj.nuget.g.props
/Database/APApiDbS2024InClassTests/obj/APApiDbS2024InClassTests.csproj.nuget.g.targets
/Database/APApiDbS2024InClassTests/obj/project.nuget.cache
/Database/APApiDbS2024InClassTests/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Database/APApiDbS2024InClassTests/obj/Release/net8.0/APApiDbS2024InClassTests.AssemblyInfo.cs
/Database/APApiDbS2024InClassTests/obj/Release/net8.0/APApiDbS2024InClassTests.AssemblyInfoInputs.cache
/Database/APApiDbS2024InClassTests/obj/Release/net8.0/APApiDbS2024InClassTests.GeneratedMSBuildEditorConfig.editorconfig
/Database/APApiDbS2024InClassTests/obj/Release/net8.0/APApiDbS2024InClassTests.GlobalUsings.g.cs
/Database/DatingApp/obj/Release/net7.0/APApiDbS.8CF4142A.Up2Date
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.csproj.AssemblyReference.cache
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.csproj.BuildWithSkipAnalyzers
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.csproj.CoreCompileInputs.cache
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.csproj.FileListAbsolute.txt
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.dll
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.genruntimeconfig.cache
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.MvcApplicationPartsAssemblyInfo.cache
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.MvcApplicationPartsAssemblyInfo.cs
/Database/DatingApp/obj/Release/net7.0/APApiDbS2024InClass.pdb
/Database/DatingApp/obj/Release/net7.0/staticwebassets/msbuild.build.APApiDbS2024InClass.props
/Database/DatingApp/obj/Release/net7.0/staticwebassets/msbuild.buildMultiTargeting.APApiDbS2024InClass.props
/Database/DatingApp/obj/Release/net7.0/staticwebassets/msbuild.buildTransitive.APApiDbS2024InClass.props
